#header {
	font-family: 'Assistant', sans-serif;
	font-size:15px;

	width:280px;	

	outline: 1px dotted black;
	border: white solid 10px;
	background-color: white;
	color:#990000;

	padding:15px;
	position:fixed;
	right:10;
	top:10;
}

.txt_rtl {
	direction: rtl; 
}

#verse_source {
	font-weight: normal; 
	margin-top:0px;
	margin-bottom:20px;
	font-size:18px;
	text-transform: uppercase;
}

.verse {
	background-color:#fffcfc;
	font-size:15px;
	padding:10px;
}

.verse + .verse {
	padding-top:15px;
}

.hover-underline:hover {
	text-decoration: underline;
}

#footer {
	margin: 15px 0px 0px 0px; 
	background-color:green;
	font-size:14px;
}

#f_options {
	float:left;
	cursor:pointer;
}

#f_context {	
	cursor:pointer;
	float:right;
}